.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.pokemon {
  position: relative;
  text-align: center;
  height: 420px;
  width: 300px;
  margin-bottom: 55px;
  border: 1px solid rgba(173, 243, 234, 0.747);
  border-radius: 8%;
  box-shadow: -2px -2px 4px 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    to bottom,
    rgba(173, 243, 234, 0.747) 0%,
    rgba(255, 255, 255, 0.973) 100%
  );
}

.pokemonName {
  text-align: center;
  font-size: 25px;
  margin: 20px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  color: rgba(36, 31, 31, 0.7);
}

.front > img {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 250px;
  width: auto;
}

.description {
  color: rgba(8, 2, 2, 0.5);
  padding: 25px 8px;
  line-height: 1.6;
  text-align: justify;
  font-size: 20px;
  font-family: sans-serif;
}

.front,
.back {
  position: absolute;
  height: 420px;
  width: 300px;
}

.back {
  opacity: 0;
}

.pokemon:hover .front {
  opacity: 0;
}

.pokemon:hover .back {
  opacity: 1;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(66, 112, 112, 0.2),
    rgb(204, 200, 200, 0.3)
  );
}

.power {
  height: 4px;
  width: 5px;
}
